
/*.li {
  color: rgba(255, 255, 255, 0);
}*/
.box {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;

  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 2px;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.0);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}

.box:hover::after {
    opacity: 1;
}

.box2 {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box2::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  z-index: -1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box2:hover {
  -webkit-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
}

.box2:hover::after {
    opacity: 1;
}


.box3 {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box3::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  z-index: -1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box3:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.box3:hover::after {
    opacity: 1;
}

.box4 {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0);
  border-radius: 5px;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 0);
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 0);
}

.box4::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  z-index: -1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.0);
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 0);
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 0);
}

.box4:hover {
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}

.box4:hover::after {
    opacity: 1;
}

.box5 {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0);
  border-radius: 5px;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box5::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  z-index: -1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.0);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box5:hover {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.box5:hover::after {
  opacity: 1;
}


.box6 {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box6::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  z-index: -1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box6:hover {
  -webkit-transform: scale(1.02, 1.0);
  transform: scale(1.02, 1.0);
}

.box6:hover::after {
    opacity: 1;
}

.pan8 {
  position: absolute;
  height: 100%;
  width: 200%;
  z-index: -1;
  background-size: auto 140%;
  background-repeat: no-repeat;
  -webkit-animation-name: MOVE-BG;
  -webkit-animation-duration: 30s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-webkit-keyframes MOVE-BG {
   from {
     -webkit-transform: translateX(0%);
   }
   to { 
     -webkit-transform: translateX(-10%);
   }
}
